---
---

{% if page.header %}
    <a name="{{ page.header | downcase | replace: ' ', '-' }}"></a>
{% endif %}
{% if page.variant == 'image-right' %}
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{page.title}}</h2>
                    <div class="lead">
                        {{ content }}
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 img-middle">
                    <img class="img-responsive" src="{{page.image}}" alt="{{page.title}}" />
                </div>
            </div>

        </div>
    </div>
{% elsif page.variant == 'contact' %}
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{page.title}}</h2>
                    <div class="lead">
                        {{ content }}
                    </div>
                    <hr/>
                    <p class="text-center">
                        <a href="tel:{{site.phone}}" data-action="contact" data-method="phone" class="btn btn-default"><em class="fa fa-phone"></em> {{site.phone}}</a>
                        <a href="mailto:{{site.email}}" data-action="contact" data-method="email" class="btn btn-default"><em class="fa fa-envelope"></em> {{site.email}}</a>
                    </p>
                    <hr/>
                    <form accept-charset="UTF-8" enctype="multipart/form-data" method="post" data-action="contact" data-method="form" action="https://klcodanric.wufoo.com/forms/z12yoalw0ac6i7v/#public" id="contact-form" title="Contact Me">
                        <div class="form-group">
                            <label class="control-label" for="Field1">Your Name <span class="text-danger">*</span></label>
                            <input name="Field1" id="Field1" class="form-control" type="text" maxlength="255" required="required" />
                            <span class="help-block hidden">
                                Please provide your name so I know to whom I'm talking. First name, last name, nickname, doesn't matter.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Field3">Your Email Address <span class="text-danger">*</span></label>
                            <input name="Field3" id="Field3" class="form-control" type="email" maxlength="255" required="required" />
                            <span class="help-block hidden">
                                I need some way to get a hold of you, email please!
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Field6">Message <span class="text-danger">*</span></label>
                            <textarea name="Field6" id="Field6" class="form-control" spellcheck="true" rows="5" cols="50" required="required"></textarea>
                            <span class="help-block hidden">
                                What do you want to say? Please provide a message.
                            </span>
                        </div>
                        <div class="form-group">
                            <button name="saveForm" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Contact Us!</button>
                        </div>
                        <div class="hide">
                            <label for="comment">Do Not Fill This Out</label>
                            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                            <input type="hidden" id="idstamp" name="idstamp" value="xIrm0LBRxzMiUg2ubg6a04oLEyUHMEk1jS04/5S9xtU=">
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6 img-middle">
                    <span class="helper"></span>
                    <img class="img-responsive" src="{{page.image}}" alt="{{page.title}}" />
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="content-section-b">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{page.title}}</h2>
                    <div class="lead">
                        {{ content }}
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6 img-middle">
                    <span class="helper"></span>
                    <img class="img-responsive" src="{{page.image}}" alt="{{page.title}}" />
                </div>
            </div>
        </div>
    </div>
{% endif %}